[submodule "etc/emacs.d/tiny-tools"]
	path = etc/emacs.d/tiny-tools
	url = https://github.com/emacsmirror/tiny-tools.git
[submodule "etc/bash.d/z"]
	path = etc/bash.d/z
	url = https://github.com/rupa/z.git
[submodule "etc/emacs.d/ajc-java-complete"]
	path = etc/emacs.d/ajc-java-complete
	url = https://github.com/lwiechec/ajc-java-complete
