etc/emacs.d/var
etc/emacs.d/javadoc-cache
# el-get is installed by the installer
etc/emacs.d/el-get
etc/emacs.d/elpa
etc/emacs.d/bookmarks
etc/emacs.d/.org-id-locations
*~
.yas-compiled-snippets.el
projectile.cache
session*
*.pyc
etc/emacs.d/semanticdb/
**/nohup.out
flycheck_org-clock-save.el
# cache dirs
etc/emacs.d/persp-confs/
etc/emacs.d/image-dired/
etc/emacs.d/recentf
etc/emacs.d/.sx/
etc/emacs.d/tutorial/
etc/emacs.d/emms/