smex.save
workgroups-saved
malabar-1.4.0
malabar-1.4.1-SNAPSHOT
backups
auto-save-list
ac-comphist.dat
*.elc
*-compile-script
*-make-script
/*.elc
ede-projects.el
.mc-lists.el
tramp
url
eshell
newsticker
